= nested_form_for @recipe, :url => recipe_path(@recipe), :html => { :class => "well form-horizontal edit_recipe", :id => "edit_recipe" } do |f|
  %input{:name => "_method", :type => "hidden", :value =>"put"}
  = render :partial => "form", :locals => {:f => f}
